.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
log.txt
env3.*
env
src/.env
docs_build
site_build
venv
docs.zip
alembic.ini
archive.zip
certs/
migrations/

